.navi li {
    display: inline-block;
    margin-right: 40px
}
.navi li {
    position: relative;
    top: 15px;
    padding-bottom: 12px;
}
.navi ul {
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.navi {
    background-color: rgb(236, 134, 75);
    width: 550px;
    height: 50px;
}
li:hover{
    color: rgb(0, 0, 0);
    border-bottom: 4px solid black;
}
a{
    text-decoration: none;
    color: inherit;
}